<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
  <div class="row" data-sticky-container>
    <div class="col-lg-4">
      <div class="kt-portlet kt-portlet--contain">
        <div class="kt-blog-grid">
          <div class="kt-blog-grid__head">
            <a class="kt-blog-grid__thumb-link">
              <%= image_tag((@variant.image_url || @variant.shared_product.image_url || 'admin/placeholder.png'), class: "kt-blog-grid__image") %>
            </a>
          </div>
          <div class="kt-portlet__body">
            <div class="kt-blog-grid__body">
              <h4 class="kt-blog-grid__title">
                  Variant Details
              </h4>
              <div class="kt-blog-grid__content">
                <ul>
                  <li>
                    Title: <b> <%= @variant.title %> </b>
                  </li>
                  <li>
                    SKU: <b> <%= @variant.sku %> </b>
                  </li>
                  <li>
                    Total Quantity: <b> <%= @variant.inventory_quantity %> </b>
                  </li>
                </ul>
              </div>
              <div class="accordion accordion-outline" id="accordionExample4">
                <div class="card">
                  <div class="card-header" id="headingOne4">
                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4"> <i class="la la-external-link"></i>View in <%= @stores_count %> Shopify <%= "Store".pluralize(@stores_count) %></div>
                  </div>
                  <div id="collapseOne4" class="card-body-wrapper collapse" aria-labelledby="headingOne" data-parent="#accordionExample4">
                    <div class="card-body">
                      <% @variant.product_variants.includes(:store).each do |p_v| %>
                        <a href='<%="https://#{p_v.store.url}products/#{p_v.product_id}/variants/#{p_v.id}"%>' target="_blank "> <%= p_v.store.title %> Store </a>                        
                        <br>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="kt-portlet kt-portlet--contain">
        <div class="kt-blog-grid">
          <div class="kt-portlet__body">
            <div class="kt-blog-grid__body">
              <h4 class="kt-blog-grid__title">
                Inventory Location Information
              </h4>
              <div class="kt-content kt-grid__item kt-grid__item--fluid">
               <table class="table table-striped- table-bordered table-hover">
                 <thead>
                   <tr>
                     <th>Store</th>
                     <th>Location</th>
                     <th>Quantity</th>
                   </tr>
                 </thead>
                 <tbody>
                    <% @inventory_location_data.each do |tr| %>
                      <tr>
                        <td><%= tr[0] %></td>
                        <td><%= tr[1] %></td>
                        <td><%= tr[2] %></td>
                      </tr>
                    <% end %>
                 </tbody>
               </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
