<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Horse <%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% unless current_admin %>
      <%= stylesheet_link_tag    'keen/login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({

            google: {
"families":[
"Poppins:300,400,500,600,700"]},

            active: function() {

                sessionStorage.fonts = true;
            }
        });
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <% if current_admin %>
    <body class="kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">
      <%= render 'layouts/header_mobile' %>
      <!-- begin:: Root -->
      <div class="kt-grid kt-grid--hor kt-grid--root">
        <!-- begin:: Page -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
          <%= render 'layouts/aside' %>
          <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <%= render 'layouts/header' %>
            <%= render 'layouts/flash_messages' %>
            <%= yield %>
            <%= render 'layouts/footer' %>
          </div>
        </div>
      </div>
    </body>
  <% else %>
    <%= yield %>
  <% end %>
</html>
